body {
    text-align: center;
    padding: 40px 0;
    /*background: #EBF0F5*/
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("helpinghand.jpg");
    background-size: cover;
    background-position: center;
  }
    h1 {
      color:#64c428;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #ffffff;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  i {
    color: #8ce852;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: rgb(0 0 0 / 60%);
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }
  .don-btn{
padding: 20px;
}
.btn{
    padding: 10px;
    color: black;
    /*background-color:rgb(179, 0, 0) 
    linear-gradient(rgb(255 42 42),rgb(255 4 4));;*/
    background-color:#64c428;
    font-size: 20px;
    font-family: Georgia, serif;
    border-radius: 15px;

}